html {
    background: url("/backgroundImg/fond_pour_damien.png") no-repeat center center ;
    background-size: cover;
    height: 100%;
    font-family: Oswald;

}

header {
    background-color: #E4E4E4;
    opacity: 80%;
    font-family: Oswald;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.flex {
    display: flex;
    height: 80px;
}

.secondSection {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
}

.firstSection {
    margin-top: 20px ;
    margin-left: 80px;
    margin-right: 600px;
}

.backHome {
    color: #407AA4;
    font-size: 160%;
}

.grp {
    color: black;
    font-size: 120%;
}

.grp:hover,
.backHome:hover {
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px #fff, 0 0 20px black, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px black;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.space {
    margin-left: 50px;
}

body {
    margin: 0px;
    text-align: center;
   /* font-family: 'Inknut Antiqua', sans-serif;*/
   font-family: Oswald;
    color: black;
}

.homeTitle {
    text-shadow: 0 0 5px white, 0 0 10px #fff;
    margin-top: 30px;
    font-size: 90px;
}

.byMe {
    text-shadow: 0 0 5px white, 0 0 10px #fff;
    font-size: 15px;
    color: black;
    margin-top: -70px;
    margin-left: -500px;
}

.firstSentence {
    margin-top: -15px;
    font-size: 40px;
    line-height: 100px;
    color: black;
    text-shadow: 0 0 5px white, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

.flex2 {
    margin-bottom: 20px;
}

.containerButton {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button,
.myWork
.aboutMe {
    font-family: Oswald;
    padding:15px;
    width: 200px;
    border-radius: 110px;
    background-color: #3e3e3e;
    color: white;
    cursor: pointer;
}

.aboutMe {
    background-color: #407AA4;
    color: white;
    margin-left: 250px;
}

button:hover {
    box-shadow: 0 0 5px black, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px black;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.containerIconSocialMedia {
    display: flex;
    justify-content: center;
    height: 200px;
}

.twitter {
    width: 300px;
    position: relative;
    background: url("/iconsImg/TwitterIconReal.png");
}

.facebook {
    background: url("/iconsImg/FacebookIcon.png");
}

.instagram {
    background: url("/iconsImg/InstagramIcon.png");
}

.linkedIn {
    background: url("/iconsImg/LinkedInIconReal.png");
}
